{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Auto katalogs{% endblock %}</title>
    <link href="{% static '/stylesheet.css' %}" rel="stylesheet">

</head>
<body>
  <div class="container">
    <h1>InfoAuto</h1>
    <a href="#" class="button">Tirgus</a>
    <a href="#" class="button">Meklēt</a>
    <a href="#" class="button">Favorīti</a>
    <br>
    <a href="#" class="button">Ienākt</a>
    <a href="#" class="button">Reģistrēties</a>
  </div>
</body>
</html>