{% extends 'base_generic.html' %}

{% block title %}Rediģēt profilu{% endblock %}

{% block content %}
  <h2>Rediģēt</h2>
  <form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.errors %}

        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Atjaunot</button>
  </form>
{% endblock %}