<!DOCTYPE html>
{% extends 'base_generic.html' %}
{% load i18n %}

{% block title %}{{ listing.Car.Model }}{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Listing Details</title>
    <link rel="stylesheet" href="your-stylesheet.css">
</head>
<body>
    <div class="mylisting-container">
        <div class="listing-text">
            <h1>{% trans "Sludinājuma detaļas" %}</h1>
            <h2>{% trans "Auto informācija" %}</h2>
            <ul>
                <li>{% trans "Marka:"%} {{ listing.Car.Make }}</li>
                <li>{% trans "Modelis:"%} {{ listing.Car.Model }}</li>
                <li>{% trans "Gads:"%} {{ listing.Car.Year }}</li>
                <li>{% trans "Degviela:"%} {{ listing.Car.Fuel }}</li>
                <li>{% trans "Motora tilpums:"%} {{ listing.Car.Engine_cc }}</li>
                <li>{% trans "Ātrumkārba:"%} {{ listing.Car.Gearbox }}</li>
                <li>{% trans "Krāsa:"%} {{ listing.Car.Color }}</li>
            </ul>
            <h2>{% trans "Informācija sludinājumā"%}</h2>
            <ul>
                <li>{% trans "Cena:"%} {{ listing.Price }}</li>
                <li>{% trans "Nobraukums:"%} {{ listing.Mileage }}</li>
                <li>{% trans "Atrašanās vieta:"%} {{ listing.Location }}</li>
                <li>{% trans "Apraksts:"%} {{ listing.Description }}</li>
                <li>{% trans "Ievietošanas datums:"%} {{ listing.Date }}</li>
                <li>{% trans "Telefona nr:"%} {{ listing.Phone }}</li>
                <li>{% trans "Epasts:"%} {{ listing.Email }}</li>
                <li>{% trans "Vārds:"%} {{ listing.Name }}</li>
            </ul>
        </div>
        <div class="listing-image">
            <h2>{% trans "Bildes"%}</h2>
            {% for image in listing.image_set.all %}
                <img src="{{ image.image.url }}" alt="Listing Image">
            {% empty %}
                <p>{% trans "Šim sludinājumaam nav pieejamu bilžu"%}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
