{% extends 'base_generic.html' %}
{% load i18n %}

{% block content %}
  <h2>{% trans "Visi sludinājumi" %}</h2>

  <!-- Toggle Filter and Sort button -->

  <!-- Filter and Sort form -->
  <form id="filter-sort-form" method="GET" action="{% url 'listing_list' %}">
    <div id="filter-sort-fields">
      <!-- Filter fields -->
      <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
      <input type="number" name="min_price" placeholder="Min Price" value="{{ request.GET.min_price }}">
      <input type="number" name="max_price" placeholder="Max Price" value="{{ request.GET.max_price }}">
  
      <!-- Year range -->
      <input type="number" name="min_year" placeholder="Min Year" value="{{ request.GET.min_year }}">
      <input type="number" name="max_year" placeholder="Max Year" value="{{ request.GET.max_year }}">
  
      <!-- Fuel dropdown -->
      <select name="fuel">
        <option value="" {% if not request.GET.fuel %}selected{% endif %}>Select Fuel</option>
        {% for fuel_option in fuel_options %}
          <option value="{{ fuel_option }}" {% if request.GET.fuel == fuel_option %}selected{% endif %}>{{ fuel_option }}</option>
        {% endfor %}
      </select>
  
      <!-- Gearbox dropdown -->
      <select name="gearbox">
        <option value="" {% if not request.GET.gearbox %}selected{% endif %}>Select Gearbox</option>
        {% for gearbox_option in gearbox_options %}
          <option value="{{ gearbox_option }}" {% if request.GET.gearbox == gearbox_option %}selected{% endif %}>{{ gearbox_option }}</option>
        {% endfor %}
      </select>
  
      <!-- Color dropdown -->
      <select name="color">
        <option value="" {% if not request.GET.color %}selected{% endif %}>Select Color</option>
        {% for color_option in color_options %}
          <option value="{{ color_option }}" {% if request.GET.color == color_option %}selected{% endif %}>{{ color_option }}</option>
        {% endfor %}
      </select>
      <br>
      <!-- Sort fields -->
      <select name="sort_by">
        <option value="" selected disabled>Sort By</option>
        <option value="Price" {% if request.GET.sort_by == "Price" %}selected{% endif %}>Price</option>
        <option value="Mileage" {% if request.GET.sort_by == "Mileage" %}selected{% endif %}>Mileage</option>
        <option value="Car__Year" {% if request.GET.sort_by == "Car__Year" %}selected{% endif %}>Year</option>
      </select>
      <select name="order">
        <option value="" selected disabled>Order</option>
        <option value="asc" {% if request.GET.order == "asc" %}selected{% endif %}>Ascending</option>
        <option value="desc" {% if request.GET.order == "desc" %}selected{% endif %}>Descending</option>
      </select>
      <br>
      <input type="submit" value="Apply" id="apply-button">
      <input type="button" id="reset-button" value="Reset">
    </div>
    {% if user.is_authenticated %}
    <div class="bookmark-filter">
      <input type="checkbox" name="only_bookmarks" value="true" {% if request.GET.only_bookmarks %}checked{% endif %}>
      <label for="only_bookmarks">Rādīt tikai atzīmētos</label>
      <input type="checkbox" name="only_owned" value="true" {% if request.GET.only_owned %}checked{% endif %}>
      <label for="only_owned">Rādīt tikai savus</label>
    </div>
    <div class="owned-filter">
      
    </div>
    {% endif %}
    
  </form>

  <!-- Listings -->
  <div class="listings-class">
  {% for listing in listings %}
    <div class="listing_item">
      <div class="parent">
        {% if user.is_authenticated %}
      <div class="left-child">
          <button class="bookmark" data-listing-id="{{ listing.id }}">
              {% if listing.id in bookmarked_listing_ids %}
                Unbookmark
              {% else %}
                Bookmark
              {% endif %}
          </button>
      </div>
      <div class="right-child">

            <img id="bookmark-indicator-{{ listing.id }}" style="display: {% if listing.id in bookmarked_listing_ids %}block{% else %}none{% endif %}" src="/static/pngwing.com.png" alt="This listing is bookmarked">


          {% if user.is_authenticated %}
            {% if user.is_staff or user == listing.User %}
              <form method="POST" action="{% url 'delete_listing' listing.id %}">
                {% csrf_token %}
                <input type="submit" value="Delete">
              </form>
            {% endif %}
          {% endif %}
      </div>
          {% endif %}
      </div>
      <a href="{{ listing.Link }}" target="_blank" rel="noopener noreferrer">
        <h3>{{ listing.Car.Make }} {{ listing.Car.Model }}</h3>
        <p>{% trans "Cena" %}: {{ listing.Price }} €</p>
        <p>{% trans "Nobraukums" %}: {{ listing.Mileage }} km</p>

        <!-- Additional information -->
        <p>{% trans "Tilpums" %}: {{ listing.Car.Engine_cc }} cc</p>
        <p>{% trans "Pārnesums" %}: {{ listing.Car.Gearbox }}</p>
        <p>{% trans "Degviela" %}: {{ listing.Car.Fuel }}</p>
        <p>{% trans "Gads" %}: {{ listing.Car.Year }}</p>

        <!-- Add images -->
        {% for image in listing.image_set.all %}
          <img src="{{ image.image.url }}" alt="Listing image">
        {% endfor %}
        <!-- Add more fields as needed -->
      </a>
    </div>
{% empty %}
    <p>{% trans "Nav atrasts neviens sludinājums" %}</p>
{% endfor %}
  </div>

  <!-- Pagination -->

<div class="pagination">
  <span class="step-links">
    {% if listings.has_previous %}
      <a href="?{{ request.GET.urlencode }}&page=1">&laquo; {% trans "Pirmā" %}</a>
      <a href="?{{ request.GET.urlencode }}&page={{ listings.previous_page_number }}">{% trans "Iepriekšējā" %}</a>
    {% endif %}

    <span class="current">
      {% trans "Lapa" %} {{ listings.number }} {% trans "no" %} {{ listings.paginator.num_pages }}.
    </span>

    {% if listings.has_next %}
      <a href="?{{ request.GET.urlencode }}&page={{ listings.next_page_number }}">{% trans "Nākamā" %}</a>
      <a href="?{{ request.GET.urlencode }}&page={{ listings.paginator.num_pages }}">{% trans "Pēdējā" %} &raquo;</a>
    {% endif %}
  </span>
</div>



<script>
  document.querySelectorAll('.bookmark').forEach(function(button) {
    button.addEventListener('click', function() {
      const listingId = this.dataset.listingId;
      
      fetch('/bookmark/', {
        method: 'POST',
        body: JSON.stringify({ listing_id: listingId }),
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        credentials: 'same-origin'
      })
      .then(response => response.json())
      .then(data => {
        const bookmarkIndicator = document.querySelector(`#bookmark-indicator-${listingId}`);

        if (data.bookmarked) {
          // The listing was bookmarked
          button.textContent = 'Unbookmark';
          bookmarkIndicator.style.display = 'block';  // Make the image visible
        } else {
          // The listing was unbookmarked
          button.textContent = 'Bookmark';
          bookmarkIndicator.style.display = 'none';  // Hide the image
        }
      });
    });
  });

  document.getElementById('reset-button').addEventListener('click', function() {
    // Clear all fields in the form
    document.getElementById('filter-sort-form').reset();

    // Redirect to the page without any parameters
    window.location.href = "{% url 'listing_list' %}";
  });
</script>

{% endblock %}
