body {
  background-color: #b8b4b4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set minimum height of the body to 100% of the viewport height */
  display: flex;
  flex-direction: column; /* Arrange elements vertically */
}

.container {
  flex: 1; /* Allow the container to take up remaining vertical space */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  padding-top: 35px;
}

h1 {
  color: #333333;
  margin-top: 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  margin: 10px;
}

.button:hover {
  background-color: #555555;
}

img {
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  max-width: 100%;
}

.listing_item {
  display: inline-block;
  width: 400px;
  height: auto;
  margin: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  vertical-align: top;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #d5d5d5;
}

.listing_item:hover {
  transform: translateY(-5px);
  background-color: #c4bbbb;
}

.listing_item a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.listing_item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.navbar {
  background-color: #333333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-link:hover {
  background-color: #555555;
}

.nav-left {
  display: flex;
  align-items: center;
}

.form-container {
  max-width: 400px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  color: #333333;
  margin-top: 0;
  margin-bottom: 20px;
}

.form-container .form-field {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.form-container .error {
  color: red;
  margin-top: 5px;
}

.form-container button[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #555555;
}

footer {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.step-links {
  display: flex;
  align-items: center;
}

.step-links a {
  color: #333333;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  background-color: #dddddd;
  transition: background-color 0.3s ease;
}

.step-links a:hover {
  background-color: #bbbbbb;
}

.current {
  margin: 0 10px;
  font-weight: bold;
}

.parent {
  display: flex;
  justify-content: space-between;
}

.left-child {
  order: 1; /* Specify the order of the left child */
}

.right-child{
  height: 50px;
  order: 2; /* Specify the order of the right child */
}

.right-child img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#filter-sort-fields {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  max-width: 90%; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

#filter-sort-fields > * {
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
  margin-bottom: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bookmark-filter{
  height: 35px; 
}

.bookmark-filter input[type="checkbox"] {
  transform: scale(1.5); /* Increase checkbox size */
}

.bookmark-filter label {
  font-size: 18px; /* Increase label font size */
}

.owned-filter{
  height: 35px; 
}

.owned-filter input[type="checkbox"] {
  transform: scale(1.5); /* Increase checkbox size */
}

.owned-filter label {
  font-size: 18px; /* Increase label font size */
}

#apply-button{
  background-color: rgb(165, 253, 165);
}

#reset-button{
  background-color: rgb(248, 171, 171);
}

.listings-class{
 text-align: center;
}